<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAF0uS8D8pB-iVN_DUIH5mzaVJxTZwMTng</string>
	<key>GCM_SENDER_ID</key>
	<string>945664703078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instaClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>insta-clone-riverpod-01</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-clone-riverpod-01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945664703078:ios:2217b4c85b32fa34a00ba7</string>
</dict>
</plist>